<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Busca</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="form-container">
    <h2>Buscar por Estilo:</h2>
    <br>
    <form action="/buscar" method="post">
        <input type="text" id="estilo" name="estilo" th:value="${estilo}" required>
        <button type="submit">Buscar</button>
    </form>
    <br>
    <a href="/" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>